<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <table style="background-color:#ffffff; 
        @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);
        font-family: 'Open Sans', sans-serif;
        max-width: 500px;
        margin:0 auto;
        overflow: visible;
        vertical-align:middle;
        border-spacing: 0">
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; border-top: 8px solid #045FC4; vertical-align: bottom; text-align: left; font-size: 16px; color: #0e0808; padding-top: 32px;">
                <img src="https://res.cloudinary.com/djen2uhsi/image/upload/w_232,h_48,c_scale/v1664440699/Logo_uhfyym.png"
                    alt="logo png" style="width: 133px;">
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #101B28;; padding-top: 32px;">
                Hi, Sales Team TricorUnify {country}!
                <br>
                <br>
                A customer has filled out the registration form to book our demo, here is the information you might need
                for your further pitching.
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica';padding-left: 40px;  max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 32px;">
                Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span style="color: #101B28;">{country}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align:  left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 8px;">
                Organization &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span style="color: #101B28;">{organization}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 8px;">
                Modules : <div style="color: #101B28; word-wrap: break-word; width: 410px;">{modules}</div>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 32px;">
                Full Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span style="color: #101B28;">{fullName}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 8px;">
                Job Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span style="color: #101B28;">{jobTitle}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 8px;">
                Company &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span style="color: #101B28;">{companyName}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 8px;">
                Business Email &nbsp;&nbsp;: <span style="color: #101B28;">{email}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; max-width: max-content 0px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #8D8D8D; padding-top: 8px;">
                Phone Number &nbsp;&nbsp;&nbsp;: <span style="color: #101B28;">{phoneNumber}</span>
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #3D3D3D; padding-top: 32px;">
                Thank you for your time, good luck!
                <br>
                <br>
            </td>
        </tr>
    </table>
    <table
        style="background-color: #FAFAFA; vertical-align:middle;overflow:visible;margin:0 auto; border-top: 0px solid #F2F4F7; padding-left: 57px; padding-right: 52px; max-width: 500px;">
        <tr>
            <td
                style="font-family: 'Helvetica'; vertical-align: middle; text-align: center; color: #475667; font-size: 14px; line-height: 24px; padding-top: 40px;">
                “Create a Better Life for HR Through Technology” - TricorUnify
            </td>
        </tr>
        <tr>
            <td
                style="padding-top: 8px; padding-left: 40px; padding-right: 40px; padding-bottom: 40px; font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; vertical-align: top; text-align: center; font-size: 12px; line-height: 24px; gap: 8px; color: #475667;">
                © 2022 Tricor Orisoft
            </td>
        </tr>
    </table>
</body>

</html>