<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <table style="background-color:#ffffff; 
        @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);
        font-family: 'Open Sans', sans-serif;
        max-width: 500px;
        margin:0 auto;
        overflow: visible;
        vertical-align:middle;
        border-spacing: 0">
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; border-top: 8px solid #045FC4; vertical-align: bottom; text-align: left; font-size: 16px; color: #0e0808; padding-top: 32px;">
                <img src="https://res.cloudinary.com/djen2uhsi/image/upload/w_232,h_48,c_scale/v1664440699/Logo_uhfyym.png"
                    alt="logo png" style="width: 133px;">
            </td>
        </tr>
        <tr>
            <td
                style="font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; vertical-align: bottom; text-align: left; font-size: 16px; line-height: 28px; color: #3D3D3D; padding-top: 32px;">
                Dear {name},
                <br>
                <br>
                Thank you for your interest in TricorUnify. We appreciate your request for a demonstration of our
                powerful HR solution.
                <br>
                <br>
                We understand that your time is valuable, and we would like to schedule a demo at a time that is
                convenient for you and your team.
                TricorUnify has received positive feedback from many of our clients and we believe it could be a great
                fit for your organization as well.
                <br>
                <br>
                Our team will be in touch with you shortly to schedule the demo and answer any questions you may have.
                We look forward to the opportunity to show you how TricorUnify can help your business achieve its goals.
                <br>
                <br>
                Thank you for your time and consideration. We look forward to hearing from you soon.
                <br>
                <br>
                Best regards,
                <br>
                TricorUnify Team
                <br>
                <br>
        </table>
        <table
        style="background-color: #FAFAFA; vertical-align:middle;overflow:visible;margin:0 auto; border-top: 0px solid #F2F4F7; padding-left: 57px; padding-right: 52px; max-width: 500px;">
        <tr>
            <td
                style="font-family: 'Helvetica'; vertical-align: middle; text-align: center; color: #475667; font-size: 14px; line-height: 24px; padding-top: 40px;">
                “Create a Better Life for HR Through Technology” - TricorUnify
            </td>
        </tr>
        <tr>
            <td
                style="padding-top: 8px; padding-left: 40px; padding-right: 40px; padding-bottom: 40px; font-family: 'Helvetica'; padding-left: 40px; padding-right: 40px; vertical-align: top; text-align: center; font-size: 12px; line-height: 24px; color: #475667;">
                © 2022 Tricor Orisoft
            </td>
        </tr>
    </table>
</body>

</html>